.App {
  text-align: center;
}

.App-logo {
  height: 80px;
}

.App-header {
  background-color: white;
  height: 150px;
  padding: 20px;
  color: #333;
  margin-bottom: 70px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

table {
  margin: 0 auto;
  border-collapse: collapse;
  width: 90%;
  border-radius: 5px;
  overflow: hidden;
}

table th {
  padding: 20px;
}

table, th, td {
  /* border: 1px solid black; */
  padding: 30px;

}

tbody th {
  background: #e3e3e5;
  color: #333;
}

tbody tr:nth-child(even) {
  background: #FFF;
}
tbody tr:nth-child(odd) {
  background-color: #58c4c6;
  color: #fff;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
